@{
    Layout = "_LayoutAdmin";
    ViewData["TitleAdmin"] = "Quản lý Hãng sản xuất";
}
@model IEnumerable<Ecommerce.Models.Brand>

<script type="text/javascript">
    setTimeout(function () {
        $('#notifyMessage').fadeOut('slow');
    }, 2500);
</script>

<h3>Danh sách Hãng sản xuất</h3>
@if (ViewBag.DeleteMsg != null)
{
    <div id="notifyMessage" class="alert alert-success" role="alert">
        @ViewBag.DeleteMsg
    </div>
}
<hr>

<div>
    <table class="table">
        <tr>
            <th>Mã hãng sản xuất</th>
            <th>Tên hãng sản xuất</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.brand_ID</td>
                <td>@item.brand_Name</td>
                <td>
                    <a class="btn btn-info" asp-controller="" asp-action="" asp-route-id="">Edit</a>
                    <a class="btn btn-danger" asp-controller="" asp-action="" asp-route-id="">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
