@{
    Layout = "_LayoutAdmin";
    ViewData["TitleAdmin"] = "Thêm mới sản phẩm";
}
@model Ecommerce.Models.Product

<div class="manage_title">
    <h3>Thêm sản phẩm mới</h3>
</div>
<hr>

<div class="manage_content">
    <form asp-controller="ManageProduct" asp-action="Create" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
            <label asp-for="product_Name" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="product_Name" class="form-control">
            </div>
            <span asp-validation-for="product_Name" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="product_Price" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="product_Price" class="form-control">
            </div>
            <span asp-validation-for="product_Price" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="product_Quantity" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="product_Quantity" class="form-control" value="0">
            </div>
            <span asp-validation-for="product_Quantity" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="product_Image" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="file" asp-for="product_Image" name="image" class="form-control-file">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="product_Description" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="product_Description" class="form-control">
            </div>
            <span asp-validation-for="product_Description" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="brand_ID" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <select asp-items="@ViewBag.listBrand" asp-for="brand_ID" class="form-control"> </select>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="hdh_ID" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <select asp-items="@ViewBag.listHeDieuHanh" asp-for="hdh_ID" class="form-control"> </select>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="supplier_ID" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <select asp-items="@ViewBag.listSupplier" asp-for="supplier_ID" class="form-control"> </select>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="categories_ID" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <select asp-items="@ViewBag.listCategories" asp-for="categories_ID" class="form-control"> </select>
            </div>
        </div>
        <hr>

        <div class="form-group offset-sm-7">
            <a asp-action="Index" asp-area="Admin" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Save Create</button>
        </div>
    </form>
</div>
