@{
    Layout = "_LayoutAdmin";
    ViewData["TitleAdmin"] = "Cập nhật thông tin sản phẩm";
}
@model Ecommerce.Models.Product

<h3>Cập nhật thông tin Sản phẩm</h3>
TODO: hoàn thiện view cho trang này
