@{
    ViewData["Title"] = "Thông báo thanh toán";
}

<h3>Transaction Details</h3>
<h2>
    Trạng thái thanh toán của hóa đơn:
    <form method="POST" asp-controller="Cart" asp-action="ConfirmPayment">
        <button type="submit" name="statuspayment" value="@ViewBag.resultSatus" class="btn btn-success">Xác
            nhận</button>
    </form>
</h2>