@{
    Layout = "";
    ViewData["Title"] = "Thông báo thanh toán";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/font-awesome-4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

@if (@ViewBag.resultSatus == "VERIFIED")
{
    <div class="center">
        <img src="~/images/icon-success.png" alt="icon-success.png">
        <h3>Chúc mừng bạn thanh toán thành công!!!</h3>
        <a asp-controller="Home" asp-action="Index">
            <strong>Quay lại trang chủ tiếp tục mua sắm <span class="fa fa-long-arrow-right"></span></strong>
        </a>
    </div>
}
else
{
    <div class="center">
        <img src="~/images/icon-fail.png" alt="icon-success.png">
        <h2>Rất tiếc quá trình thanh toán thất bại!!!</h2>
        <a asp-controller="Home" asp-action="Index">Quay lại trang chủ tiếp tục mua sắm <span
                class="fa fa-long-arrow-right"></span></a>
    </div>
}
