@{
    Layout = "_LayoutAdmin";
    ViewData["TitleAdmin"] = "Cập nhật thông tin Hãng Sản Xuất";
}
@model Ecommerce.Models.Brand

<div class="manage_title">
    <h3>Thêm Thường hiệu mới vào cửa hàng</h3>
</div>

<form asp-controller="managebrand" method="post">

</form>
