@{
    Layout = "_LayoutAdmin";
    ViewData["TitleAdmin"] = "Quản lý quyền truy cập";
}
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="manage_title">
    <h3>Danh sách quyền truy cập</h3>
</div>
<hr>

<a asp-controller="ManageRole" asp-action="CreateRole" class="btn btn-primary">Create new Role</a>

<table>
    <tr>
        <th>Id Role</th>
        <th>Name Role</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a></a> | <a href=""></a></td>
        </tr>
    }
</table>