@{
    Layout = "_LayoutAdmin";
    ViewData["TitleAdmin"] = "Cập nhật thông tin Hệ điều hành";
}
@model Ecommerce.Models.HeDieuHanh

<div class="manage_title">
    <h3>Cập nhật thông tin Hệ điều hành</h3>
</div>

@if (ViewBag.notifyMsg != null)
{
    <div id="notifyMsg" class="alert alert-success" role="alert">
        @ViewBag.nofifyMsg
    </div>
}

<script type="text/javascript">
    setTimeout(function () {
        $('#notifyMessage').fadeOut('slow');
    }, 2500);
</script>
<hr>

<div class="manage_content">
    <form asp-controller="ManageOperatingSystem" asp-action="Edit" method="POST">
        <div class="form-group row">
            <label asp-for="@Model.hdh_ID" hidden class="col-sm-2 offset-sm-1 col-form-label"></label>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.hdh_Name" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="@Model.hdh_Name" class="form-control">
            </div>
        </div>
        <hr>
        <div class="form-group offset-sm-7">
            <a asp-action="Index" asp-area="Admin" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Save Update</button>
        </div>
    </form>
</div>